<!-- FAVORITES -->
<div class="detail-container">
    <%= render "layouts/show" %>
    <%= link_to "remove from favorites", movie_path(@movie),
        method: :delete,
        data: { confirm: 'Are you sure?' }, class: "btn", role: "button", id: "remove-btn" %>
</div>

<%= link_to(movies_path, class: "btn", role: "button", id: "detail-btn") do %>
  <i class="material-icons">arrow_back</i>
<% end %>
