<%= render "layouts/show" %>
  <div class="detail-buttons">
      <p><a href="/movies/" class="btn btn-primary" role="button">Back</a>
        <a href="/movies/remove/<%= @movie.id %>" class="btn btn-danger" role="button">Remove</a></p>
  </div>
