<!-- FAVORITES -->
<div class="show-container">
<div class="detail-container">
  <%= render "layouts/show" %>
  <div class="remove-btn-container">
  <%= link_to "Remove from favorites", movie_path(@movie),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn", role: "button", id: "remove-favorites-btn" %>
</div>
</div>

<div class="back-container">
  <%= link_to(movies_path, class: "btn", role: "button", id: "back-btn") do %>
  <i class="material-icons">arrow_back</i>
  <% end %>
</div>
</div>
